@using Axh.Wedding.Application.ViewModels.Rsvp
@using Axh.Wedding.Resources
@model RsvpPageViewModel

<div class="container">
    
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            @if (Model.RsvpDate.HasValue)
            {
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">@Resources.Close</span>
                    </button>

                    <strong>@Resources.Thanks!</strong>
                    @Resources.RsvpPage_Alert_Success @Model.RsvpDate.Value.ToString("dd MMMM yyyy")
                </div>
            }
            
            @using (Html.BeginForm(MVC.Rsvp.Index(), FormMethod.Post, new { @class = "form-rsvp" }))
            {
                @Html.AntiForgeryToken()
                
                <p>@Resources.Rsvp_PleaseRsvp</p>
                
                
                if (Model.AllowAddingGuests)
                {
                    <p>@Resources.Rsvp_PleaseAddMissingGuests</p>
                
                    <div class="row margin-bottom">
                        <div class="col-xs-12">
                            <span class="selectable subtle font-small" data-bind="click: addGuest">
                                <i class="fa fa-plus margin-right-tiny"></i>
                                @Resources.RsvpPage_AddGuest
                            </span>
                        </div>
                    </div>
                }

                <div data-bind="foreach: { data: Guests(), as: 'guest' }">
                    <fieldset class="margin-bottom">
                        <legend>
                            @Resources.Guest
                            <span data-bind="text: (guest.Id + 1)"></span>
                            <span class="selectable subtle font-small" data-bind="if: guest.CanBeRemoved, click: $parent.removeGuest">
                                (@Resources.Remove)
                            </span>
                        </legend>
                        
                        <input type="hidden" data-bind="value: guest.GuestId, attr: { id: guest.HtmlId + '_Id', name: guest.HtmlName + '.Id' }" />
                        <input type="hidden" data-bind="value: guest.IsAttending, attr: { id: guest.HtmlId + '_IsAttending', name: guest.HtmlName + '.IsAttending' }" />
                        
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6 margin-bottom-small">
                                    <input type="text" class="form-control" placeholder="@Resources.FirstName" data-bind="value: guest.FirstName, attr: { id: guest.HtmlId + '_FirstName', name: guest.HtmlName + '.FirstName' }" />
                                </div>
                                <div class="col-md-6 margin-bottom-small">
                                    <input type="text" class="form-control" placeholder="@Resources.Surname" data-bind="value: guest.Surname, attr: { id: guest.HtmlId + '_Surname', name: guest.HtmlName + '.Surname' }" />
                                </div>
                            </div>

                            <div class="row margin-bottom-small">
                                <div class="col-xs-12">


                                    @Html.DropDownList("null", Model.RsvpResponseLabels.Select(x => new SelectListItem
                                    {
                                        Text = x.Value,
                                        Value = ((int)x.Key).ToString()
                                    }),
                                        new
                                        {
                                            @class = "form-control",
                                            data_bind = "value: guest.IsAttending, attr: { id: guest.HtmlId + '_IsAttending', name: guest.HtmlName + '.IsAttending' }"
                                        })
                                </div>
                            </div>

                            <div class="row" data-bind="if: guest.IsAttending() == @Html.Raw((int)RsvpResponse.Yes)">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" placeholder="@Resources.RsvpPage_DietaryRequirements"
                                           data-bind="value: guest.DietaryRequirements, attr: { id: guest.HtmlId + '_DietaryRequirements', name: guest.HtmlName + '.DietaryRequirements' }" />
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <p>@Resources.Rsvp_PleaseAddStory</p>

                <div class="row margin-bottom">
                    <div class="col-xs-12">
                        <span class="selectable subtle font-small" data-bind="click: addStory">
                            <i class="fa fa-plus margin-right-tiny"></i>
                            @Resources.RsvpPage_AddStory
                        </span>
                    </div>
                </div>

                <div data-bind="foreach: { data: Stories(), as: 'story' }">
                    <fieldset class="margin-bottom">
                        <legend class="form-inline">
                            
                            @Html.DropDownList("null", Model.StoryTitleLabels.Select(x => new SelectListItem
                            {
                                Text = x,
                                Value = x
                            }),
                                new
                                {
                                    @class = "form-control",
                                    data_bind = "value: story.StoryTitle, attr: { id: story.HtmlId + '_StoryTitle', name: story.HtmlName + '.StoryTitle' }"
                                })
                            @Html.DropDownList("null", Model.WeddingPartyMemberLabels.Select(x => new SelectListItem
                            {
                                Text = x.Value,
                                Value = ((int)x.Key).ToString()
                            }),
                                new
                                {
                                    @class = "form-control",
                                    data_bind = "value: story.StorySubject, attr: { id: story.HtmlId + '_StorySubject', name: story.HtmlName + '.StorySubject' }"
                                })
                            <span class="selectable subtle font-small" data-bind="if: story.CanBeRemoved, click: $parent.removeStory">
                                (@Resources.Remove)
                            </span>
                        </legend>
                        
                        <input type="hidden" data-bind="value: story.StoryId, attr: { id: story.HtmlId + '_Id', name: story.HtmlName + '.Id' }" />
                        <div class="control-group">
                            <div class="row">
                                <div class="col-xs-12">
                                    <textarea class="form-control full-width" data-bind="value: story.StoryBody, attr: { id: story.HtmlId + '_StoryBody', name: story.HtmlName + '.StoryBody' }"></textarea>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                

                <div class="row">
                    <div class="form-group col-xs-12">
                        <button class="btn btn-default" type="submit">@Resources.Send</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
