@using Axh.Wedding.Application.ViewModels.Admin
@using Axh.Wedding.Resources
@model AdminPageViewModel


<div class="container">
    @foreach (var user in Model.Users)
    {
        <div class="row">
            @using (Html.BeginForm(MVC.Admin.Index(), FormMethod.Post, new { @class= "form-horizontal" }))
            {

                @Html.Hidden("UserId", user.UserId)
                <fieldset>
                    <legend>
                        @Html.Raw(user.UserName)
                    </legend>
                    
                    <div class="form-group">
                        @Html.TextBox("UserName", user.UserName, new { @class = "form-control" })
                    </div>
                    <div class="checkbox">
                        <label>
                            @Html.CheckBox("IsAdmin", user.IsAdmin, new { @class = "checkbox" }) @Resources.User_IsAdmin
                        </label>
                    </div>
                    
                </fieldset>
            }
        </div>
    }
</div>