@using Axh.Wedding.Application.ViewModels.Page
@using Axh.Wedding.Mvc.Infrastructure.Helpers
@using Axh.Wedding.Resources
@model Axh.Wedding.Application.ViewModels.Home.InformationPageViewModel


<div class="container margin-bottom">
    <div class="row">
        <div class="col-md-12">
            <p class="subtle">@Html.Raw(Resources.InformationPage_Venue_1)</p>
            <p>@Html.Raw(Resources.InformationPage_Venue_2)</p>
        </div>
    </div>
</div>


<div class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    @Html.FormatAddress(m => m.VenueAddress, m => m.VenuePhone)
                </p>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 bg-light">
    <div id="map-canvas-venue" class="map-canvas"></div>
</div>

<div class="col-md-12 bg-light margin-bottom-large">
    @Html.Partial(MVC.Shared.Views._SectionHeading, new HeaderImageViewModel { Url = Links.Content.Images.hotel_jpg, Title = Resources.InformationPage_Hotels_Title })
</div>

<div class="container margin-bottom-large">
    <div class="row">
        <div class="col-md-12">
            <p>@Html.Raw(Resources.InformationPage_Hotels_1)</p>
            <p>@Html.Raw(Resources.InformationPage_Hotels_2)</p>
            <p>@Html.Raw(Resources.InformationPage_Hotels_3)</p>
        </div>
    </div>
</div>

<div class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    @Html.FormatAddress(m => m.HotelAddress, m => m.HotelPhone)
                </p>
            </div>
        </div>
    </div>
</div>

<div class="bg-light col-md-12">
    <div id="map-canvas-hotel" class="map-canvas"></div>
</div>



<div class="bg-light col-md-12 margin-bottom-large">
    @Html.Partial(MVC.Shared.Views._SectionHeading, new HeaderImageViewModel { Url = Links.Content.Images.honeymoon_poem_1_jpg, Title = Resources.InformationPage_Gifts_Title })
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                @Html.Raw(Resources.InformationPage_Honeymoon_Poem_1)
            </p>
        </div>
    </div>
</div>

<div class="bg-light col-md-12">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="padding-bottom">
                    @Html.Raw(Resources.InformationPage_Honeymoon_Poem_2)
                </p>
            </div>
        </div>
    </div>
</div>

<div class="bg-light col-md-12 margin-bottom-large">
    @Html.Partial(MVC.Shared.Views._SectionHeading, new HeaderImageViewModel { Url = Links.Content.Images.honeymoon_poem_2_jpg })
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                @Html.Raw(Resources.InformationPage_Honeymoon_Poem_3)
            </p>
        </div>
    </div>
</div>

<div class="bg-light col-md-12">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="padding-bottom">
                    @Html.Raw(Resources.InformationPage_Honeymoon_Poem_4)
                </p>
            </div>
        </div>
    </div>
</div>

<div class="bg-light col-md-12 margin-bottom-large">
    @Html.Partial(MVC.Shared.Views._SectionHeading, new HeaderImageViewModel { Url = Links.Content.Images.honeymoon_poem_3_jpg })
</div>


