@model Axh.Wedding.Application.ViewModels.Page.PageViewModelBase

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="@Model.ApplicationTitle - @Model.ApplicationSubTitle">
<meta name="author" content="Alex Haslehurst">


<link rel="icon" type="image/png" href="@Links.Content.Images.favicon_png" />
<!--[if IE]>
    <link rel="shortcut icon" href="@Links.Content.Images.favicon_ico" type="image/vnd.microsoft.icon" />
<![endif]-->


<title>@Model.ApplicationTitle - @Model.Header.PageLink</title>